.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.custom-nav .custom-nav-item a {
    color: #fff !important;
}

.custom-nav-item:hover {
    background-color: #dc3545;
    border: solid #dc3545 1px;
    border-radius: 10px;  
}

.remove-video-marg {
    margin: 0px;
    padding: 0px;
}

.vid-parent {
    position: relative;
}

video {
    width: 100%;
    height: 100%;
}